body{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #2489cc;
    text-align: center;
}

.title{
    color: #fff;
    font-size: 36px;
    margin: -40px 0;
    /* background-color: #ca9d09; */
    font-family: 'Nanum Pen Script', cursive;
}

.container{
    width: auto;
    height: 95vh;
    /* background-color: rgb(255, 208, 77); */
    margin: 0;
}

.container #inputTODO{
    border: none;
    border-radius: 10px;
    width: 400px;
    height: 40px;
    padding: 10px;
    margin: -10px 0 10px 0px;
    font-size: 1.2em;
}

.container .listTODO{
    border-radius: 5px;
    width: 400px;
    /* min-height: 300px;
    max-height: 300px; */
    height: 300px;

    /* overflow-y: scroll; */
    overflow-y:hidden;

    margin-top: 10px;
    padding: 1em;
    display: block;

    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

.taskComponent{
  margin: 2em 0;

  min-height: 60px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 5px;

  background-color: #48b6ff;

  transition: 1s;
}

.taskComponent:hover{
  background-color: #5dbdfde8;
  transition: .2s;
}

p{
  word-wrap: break-word;
}

.taskComponent input {
  position: absolute;
  left: 500px;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.divTextTask{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  min-height: 60px;
}

.divButton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  min-height: 60px;
  margin-left: -60px;
}

.btnComplete{
  position: relative;
  color: #2489cc;
  width: 30px;
  height: 30px;
  background-color: #f8f8f8;
  border: none;
  border-radius: 50%;
}

.btnComplete:hover{
  background-color: #f0f0f0;
}

.complete{
  position: relative;
  color: #2489cc;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
}

.complete::before{
  position: absolute;
  left: 10%;
  top: 15%;
  height: 50%;
  width: 3px;
  background-color: #2489cc;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

.complete::after{
  position: absolute;
  left: 15%;
  bottom: 30%;
  height: 3px;
  width: 100%;
  background-color: #2489cc;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

.divButtons{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
}

.btnCompleteAll{
  background-color: #2ECC71;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}

.btnCompleteAll:hover{
  background-color: #4eff98;
  transform: scale(1.05);
  transition: 0.5s;
}

.btnClearAll{
  background-color: #CB4335;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;

  width: 120px;
}

.btnClearAll:hover{
  background-color: #fc5542;
  transform: scale(1.05);
  transition: 0.5s;
}
